 {%  extends 'base.html' %}

 {% block title  %} contact {% endblock title %}

{% block body %}
<div class="container my-4" style="height:369px; width:600px" >

<img src="/static/img/3.jfif" class="d-block w-100" alt="noooooo">

<h1 class = "text-center"> Contact Us</h1>
</div>

<div class="container  py-4" style="height:1000px; width:600px" >
<form method="post" action="/contact">
  {% csrf_token %}
  <div class="form-group">
    <label for="Name">Full Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="enter your name">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" name="email" placeholder="name@example.com">
  </div>

  <div class="form-group">
    <label for="Phone">Your Contact Number</label>
    <input type="text" class="form-control" id="phone" name="phone" placeholder="e.g 8962191645">
  </div>
  {% comment %} <div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div> {% endcomment %}
  {% comment %} <div class="form-group">
    <label for="exampleFormControlSelect2">Example multiple select</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div> {% endcomment %}
  <div class="form-group">
    <label for="desc">Why do you want to contact me</label>
    <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-success center">Submit</button>
</form>

</div>
{% endblock body %}